/*
------------------------------------------
COMMON
------------------------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Monserrat', sans-serif;
    font-size: 1rem;
}
/*
.debug{
    border: 1px solid black;
    min-height: 50px;
}
*/
h3, h4, h5{
    color: white;
    margin: 1rem 0;
    text-align: center;
}
h1{
    color: white;
    padding: 0 3rem;
    font-size: 1.5rem;
}
h2{
    color: #999999;
    padding: 0 3rem;
    font-size: 0.9rem;
}
/*
------------------------------------------
MAIN
------------------------------------------
*/
main{
    width: 100%;
    height: calc(100vh - 95px);
    display: flex;
}
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: rgb(21, 21, 29);
    overflow: auto;
    display: flex;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.navbar{
    width: 230px;
    height: 100%;
    background-color: black;
}
aside{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
}
.inner-content{
    overflow-y: auto;
    height: 100%;
    padding: 2em;
}
.container{
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.songs{
    padding: 1rem;
    width: calc(100% / 6);
    height: 320px;
}
.img-song, .img-song-rounded{
    position: relative;
}
img{
    width: 100%;
}
.img-song img:active{
    display: flex;
    height: 256px;
    width: 256px;
}
.img-song:hover .cover{
    display: flex;
    overflow: hidden;
}
.name-song{
    margin: 0.5rem 1rem;
    width: 200px;
    height: 96px;
    padding: 0.5rem;
}
.name{
    text-align: center;
    color: white;
    font-weight: bold;
}
.subtitle{
    color: grey;
    font-size: 0.75rem;
    text-align: center;
    margin: 10px;
}
.img-song-rounded img{
    border-radius: 50%;
}
/*----- OVERLAY -----*/
.cover{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-circle-play{
    color: white;
}
/*
------------------------------------------
MENU
------------------------------------------
*/
.menu-container{
    width: 100%;
    height: 48px;
    margin: 0 auto;
}
.list-menu{
    display: flex;
    justify-content: center;
    width: 100%;
}
.menu-container ul li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
.menu-container ul li a{
    font-size: 0.75rem;
    text-decoration: none;
    color: #cccccc;
    padding: 2rem;
}
.menu-container ul li a:after{
    content: '';
    width: 20%;
    height: 2px;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    background-color: greenyellow;
}
.menu-container ul li a:hover{
    color: white;
    font-size: 1rem;
}


/*
------------------------------------------
NAVBAR
------------------------------------------
*/
.box-logo, .box-playlist{
    display: flex;
    width: 200px;
    height: 70px;
    margin: 1rem;
    align-items: center;
}
.logo{
    width: 150px;
    display: block;
}
.logo-small{
    visibility: hidden;
}
.box-info{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin: 1rem;
    padding: 0 1rem;
}
.box-info img{
    width: 30px;
}
.box-info span{
   color: white;
   font-size: 1rem;
}
.box-crea{
    display: flex;
    align-items: center;
    justify-content: center;
    width:  92%;
    height: 32px;
    margin: 0.5rem;
}
.box-crea a{
    text-decoration: none;
    color: #a0a0a0;
}
.box-last{
    background-color: grey;
    width: 200px;
    height: 100px;
    margin: 12rem 1rem;
}
.install, .johndoe{
    background-color: darkgrey;
    width: 168px;
    margin: 0.5rem 1rem;   
}
.install{
    height: 20px;
}
.johndoe{
    height: 60px;
}
.play{
    width: 100%;
    height: 250px;
    padding: 1px 0;
    overflow-y: auto;
}
.fa-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: white;
}
/*
------------------------------------------
ASIDE
------------------------------------------
*/
aside a{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.button{
    border: 2px solid #cccccc;
    height: 40px;
    width: 180px;
    font-size: 0.6rem;
    font-weight: bold;
    background-color: #222222;
    color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
    height: 50px;
    width: 192px;
    font-size: 0.8rem;
}

/*
------------------------------------------
PLAYBAR
------------------------------------------
*/
.playbar{
    width: 100%;
    height: 96px;
    background-color: #333333;
    position: fixed;
    display: flex;
    bottom: 0;
    z-index: 2000;
}
.bar-left, .bar-center, .bar-right{
    width: calc((100% - 8px) / 3);
    height: 96%;
    padding: 5px;
}
.song-buttons i, .song-extra-controls i{
    padding: 1rem;
}
.fa-shuffle, .fa-backward, .fa-play, .fa-forward, .fa-repeat, 
.fa-tv, .fa-bars, .fa-volume-high, .fa-folder, .fa-heart{
    color: #a0a0a0;
}
.fa-folder, .fa-heart{
    padding: 0 10px;
}
/*----- BAR LEFT -----*/
.bar-left {
    display: flex;
    align-items: center;
    justify-content: left;
}
.song-played {
    display: flex;
    align-items: center;
}
.song-album img {
    width: 64px;
    height: 64px;
}
.song-info{
    padding: 0 15px;
}
.info-name {
    color: white;
    font-size: 14px;
    line-height: 20px;
}
.info-artist {
    color: #a0a0a0;
    font-size: 11px;
    line-height: 16px;
}
.fa-check{
    color: greenyellow;
    cursor: pointer;
}

/*----- BAR CENTER -----*/
.bar-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.song-controls{
    width: 100%;
}
.song-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-bar{
    display: flex;
    align-items: center;
}
.song-time, .song-duration{
    font-size: 11px;
    color: #a0a0a0;
    padding: 10px;
}
.song-progress-line{
    display: flex;
    width: 480px;
    height: 4px;
    border-radius: 4px;
    background-color: white;
}
.song-progress-slider{
    width: 130px;
    background-color: #a0a0a0;
    height: 4px;
    border-radius: 4px;
}
.song-progress-slider:hover{
    background-color: greenyellow;
}

/*----- BAR RIGHT -----*/
.song-extra-controls{
    display: flex;
    justify-content: right; 
    align-items: center; 
    padding: 24px 10px;
}
.volume-line{
    display: flex;
    width: 80px;
    height: 4px;
    border-radius: 4px;
    background-color: #a0a0a0;
}
.volume-slider{
    width: 25px;
    background-color: white;
    height: 4px;
    border-radius: 4px;
}
.volume-slider:hover{
    background-color: greenyellow;
}

/*
----------------------------------------------
MEDIA QUERY
-----------------------------------------------
*/
@media screen and (max-width: 1200px){
    .container{
        width: 96%;
        display: flex;
    }
    .songs{
        margin: 1rem 0;
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px){
    .container{
        width: 96%;
        display: flex;
    }
    .songs{
        margin: 1rem 0;
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .container{
        width: 96%;
        display: flex;
    }
    .songs{
        margin: 1rem 0;
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px){
    .container{
        width: 96%;
        display: flex;
    }
    .songs{
        margin: 1rem 0;
        width: 100%;
    }
}